<script>
  $(document).ready(function() {
    $('.parallax').parallax();
  });
</script>
<div id="index-banner" class="parallax-container header-intro">
  <div class="section no-pad-bot">
    <div class="container"> <br><br>
      <h1 class="header center blue-text text-lighten-2 shadow">Jake Herman</h1>
      <div class="row center">
        <h5 class="header col s12 light shadow">Full Stack Web Developer</h5> </div>
      <div class="row center"> <a href="assets/resume/Jake_Herman_Resume.pdf" download="Jake_Herman_Resume.pdf" class="waves-effect light-blue accent-2 btn">Resume</a></div> <br><br> </div>
  </div>
  <div class="parallax"><img src="assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h4 class="blue-text text-lighten-2">Who am I?</h4>
        <p>A Full-Stack Web Developer with keen analytical skills, a creative mindset, and a thorough understanding of coding dynamics. Developed proficiency in building and deploying applications in MEAN, Python and Ruby on Rails. Enthusiastic and effective communicator seeking to contribute my diverse skill set to an inspiring project and grow as a developer.</p>
        <h4 class="blue-text text-lighten-2">Skills</h4>
        <div class="row">
          <div class="col s2">
            <img class="skill-img" src="assets/images/alexa.png" alt="alexa" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/angularjs.png" alt="angularJS" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/atom.png" alt="atom" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/aws.png" alt="AWS" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/bootstrap.png" alt="bootstrap" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/bower.png" alt="bower" />
          </div>
        </div>
        <div class="row">
          <div class="col s2">
            <img class="skill-img" src="assets/images/django.png" alt="django" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/flask.png" alt="flask" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/github.png" alt="github" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/html5.png" alt="html5" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/jquery.png" alt="jQuery" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/mamp.png" alt="mamp" />
          </div>
        </div>
        <div class="row">
          <div class="col s2">
            <img class="skill-img" src="assets/images/materialize.png" alt="materialize" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/mongodb.png" alt="mongodb" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/mysql.png" alt="mysql" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/nodejs.png" alt="nodejs" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/npm.png" alt="npm" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/postgres.png" alt="postgres" />
          </div>
        </div>
        <div class="row">
          <div class="col s2">
            <img class="skill-img" src="assets/images/python.png" alt="python" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/rails.png" alt="rails" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/ruby.png" alt="ruby" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/socket.png" alt="socket" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/terminal.png" alt="terminal" />
          </div>
          <div class="col s2">
            <img class="skill-img" src="assets/images/vagrant.png" alt="vagrant" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 blue-text text-lighten-2 shadow">"Develop success from failures. Discouragement and failure are two of the surest stepping stones to success"<br>- Dale Carnegie</h5></div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
  <div class="row center">
    <div class="col s12">
      <h2 class="header center blue-text">Projects</h2> </div>
  </div>
  <div class="row center">
    <div class="col s6">
      <h2 class="blue-text">Platos</h2>
      <p class="light">Connecting people with similar schedules and hobbies, making it easier to maintain social engagements and commitments. Using optimized SQL queries this application is able to rapidly compile matches based on location with the Google Maps API and
        user inputted schedules. Implemented MaterializeCSS as a front-end CSS framework.</p>
    </div>
    <div class="col s6">
      <h2 class="blue-text">Adoptagram</h2>
      <p class="light">A central place for animal shelters to post and keep upto date information about animals at their shelter. With an easy to use front and backend, shelters are able to post images and descriptions of animals, while potential animal adopters have
        a central location to submit applications for adoptions and fosters to multiple agencies. Built using Ruby on Rails for project at The Coding Dojo.</p>
    </div>
  </div>
  <div class="row center">
    <div class="col s6"> <a class="blue-text" href="http://www.platos.social">Platos.Social</a> </div>
    <div class="col s6">
      <p class="blue-text light">In Development</p>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 blue-text text-lighten-2 shadow">“Computer science education cannot make anybody an expert programmer any more than studying brushes and pigment can make somebody an expert painter.”<br>- Eric S. Raymond</h5> </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>
<footer class="page-footer blue lighten-2">
  <div class="container">
    <div class="row center">
      <div class="col s12">
        <h5 class="white-text">Contact Me</h5>
      </div>
    </div>
    <div class="row center">
      <div class="col s3">
        <img class="contact-img" src="assets/images/email.png" alt="email" />
        <a class="white-text" href="mailto:hermanj13@me.com?Subject=Let&#39;s%20Connect"><h5>hermanj13@me.com</h></a>
      </div>
      <div class="col s3">
        <img class="contact-img" src="assets/images/github-logo.png" alt="github" />
        <a class="white-text" href="http://www.github.com/hermanj13"><h5>Github</h></a>
      </div>
      <div class="col s3">
        <img class="contact-img" src="assets/images/linkedin.png" alt="linkedin" />
        <a class="white-text" href="http://www.linkedin.com/in/jake-herman"><h5>LinkedIn</h></a>
      </div>
      <div class="col s3">
        <img class="contact-img" src="assets/images/phone.png" alt="phone" />
          <a class="white-text" href="tel:+16154286053"><h5>615_428_6053</h></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container"> Made by Jake Herman</a> </div>
  </div>
</footer>
